@import "tailwindcss";

@theme {
  --color-primary: #0f92f0;
  --color-background-light: #f5f7f8;
  --color-background-dark: #101a22;
  
  --font-display: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
    font-family: theme('fontFamily.display');
  }
}
